<div mat-dialog-title>
    <div class="banner" style='background-image: url("{{data.media.bannerImage}}")'>
        <div></div>
        <button mat-icon-button mat-dialog-close aria-label="close" color="primary" class="close">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <img [src]="data.media.coverImage.large" class="cover"/>
</div>
<div mat-dialog-content>
    <form [formGroup]="formGroup" *ngIf="formGroup" novalidate>
        <div style="display: flex; justify-content: space-between">
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" cdkFocusInitial>
                    <mat-option value="CURRENT">Current</mat-option>
                    <mat-option value="PLANNING">Planning</mat-option>
                    <mat-option value="COMPLETED">Completed</mat-option>
                    <mat-option value="DROPPED">Dropped</mat-option>
                    <mat-option value="PAUSED">Paused</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Score</mat-label>
                <span matSuffix>&nbsp;&#47;&nbsp;100</span>
                <input matInput formControlName="score" type="number" min="0" max="100">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Progress</mat-label>
                <span matSuffix>&nbsp;&#47;&nbsp;{{data.media.episodes}}</span>
                <input matInput formControlName="progress" type="number" min="0" [max]="data.media.episodes">
            </mat-form-field>
        </div>

        <div style="display: flex; justify-content: flex-end">
            <button mat-flat-button color="primary" (click)="save()">Save</button>
        </div>
    </form>
</div>